<div class="container mb-5">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>
    <div class="row">
      <div class="col-6">
        <div class="avatar-xl d-flex justify-content-center align-items-center"
          style="background-image: url(<%= cl_image_path current_user.photo.key if current_user.photo.attached?%>)"
        >
          <i class="fa-solid fa-pen fs-1" id="user-avatar"></i>
        </div>
        <%# cl_image_tag current_user.photo.key%>
      </div>
      <div class="col-6">
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <%= f.error_notification %>

          <div class="form-inputs row">
            <div class="col-12">
              <%= f.input :email, required: true, autofocus: true %>
            </div>

            <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
              <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
            <% end %>

            <div class="col-6">
              <%= f.input :first_name %>
            </div>
            <div class="col-6">
              <%= f.input :last_name %>
            </div>

            <div class="col-6">
              <%= f.input :password,
                          hint: "leave it blank if you don't want to change it",
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
            </div>
            <div class="col-6">
              <%= f.input :password_confirmation,
                          required: false,
                          input_html: { autocomplete: "new-password" } %>
            </div>

            <div class="col-12">
              <%= f.input :current_password,
                hint: "we need your current password to confirm your changes",
                required: true,
                input_html: { autocomplete: "current-password" } %>
            </div>

            <div class="d-none">
              <%= f.input :photo, as: :file, input_html: { id: "user-avatar-input" } %>
            </div>
          </div>

          <div class="form-actions col-12">
            <%= f.button :submit, "Update", class: "btn btn-primary w-100"%>
          </div>
        <% end %>

        <%= link_to "Back", :back %>
      </div>
    </div>
    <div><%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?", turbo_confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger text-white" %></div>
</div>

<script>
  document.querySelector("#user-avatar").addEventListener("click", ()=> {
    document.querySelector("#user-avatar-input").click()
  })
</script>
