<div style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= image_path 'form.jpg' %>);
  height: 85vh;">

  <div class="container d-flex justify-content-center mb-5">
  <div class="w-50 form-difuse mt-3">
    <h2>Registrarse</h2>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs row">

        <div class="col-6">
          <%= f.input :first_name, label: "Nombre" %>
        </div>
        <div class="col-6">
          <%= f.input :last_name, label: "Apellido" %>
        </div>

        <div class="col-12">
          <%= f.input :phone_number, label: "Número de teléfono" %>
        </div>


        <div class="col-6">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
        </div>
        <div class="col-6">
          <%= f.input :nickname, label: "Nombre de usuario" %>
        </div>

        <div class="col-6">
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} caracteres minimo" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" },
                      label: "Contraseña" %>
        </div>
        <div class="col-6">
          <%= f.input :password_confirmation,
            required: true,
            input_html: { autocomplete: "new-password" },
            label: "Confirmar contraseña" %>
        </div>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Registrarse", class: "banner-button w-100" %>
      </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>

</div>
