<!-- app/views/rents/index.html.erb -->

<h1>Lista de Rentas</h1>

<%= link_to "Nueva Renta", new_rent_path, class: "btn btn-primary" %>

<table>
  <thead>
    <tr>
 
  </thead>
  <tbody>
    <% @rents.each do |rent| %>
      <tr>
        <td><%= rent.id %></td>
        <td><%= rent.start_date %></td>
        <td><%= rent.end_date %></td>
        <td>
          <%= link_to "Ver", rent_path(rent), class: "btn btn-info" %>
          <%= link_to "Editar", edit_rent_path(rent), class: "btn btn-warning" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
