<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <%= form_with(model: [@vehicle, @rent], method: :post, local: true) do |form| %>
            <div class="mb-3">
              <%= form.label :start_date, class: 'form-label' %>
              <%= form.date_field :start_date, class: 'form-control form-control-sm' %>
            </div>

            <div class="mb-3">
              <%= form.label :end_date, class: 'form-label' %>
              <%= form.date_field :end_date, class: 'form-control form-control-sm' %>
            </div>

            <%= form.submit "Create Rent", class: "btn btn-primary btn-sm" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
