<div class="container my-5">
  <div class="row">
    <div class="col">
      <div id="rent_carousel" class="carousel slide d-flex align-items-center" data-bs-ride="carousel">
        <div class="carousel-inner d-flex align-items-center">
          <% @rent.vehicle.photos.each_with_index do |photo, index| %>
            <div class="carousel-item <%= 'active' if index.zero? %>">
              <%= image_tag photo.url, class: 'd-block w-100', alt: "Vehicle Image" %>
            </div>
          <% end %>
        </div>
        <button class="carousel-button-prev position-absolute start-0 h-100 bg-transparent border-0" type="button" data-bs-target="#rent_carousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-button-next position-absolute end-0 h-100 bg-transparent border-0" type="button" data-bs-target="#rent_carousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
   <div class="col position-relative">
      <div class="p-3">
              <h3 class="fw-bold">Detalles de Renta</h3>

              <h5 class="m-0 p-0 fs-5">Duracion de la renta</h5>
                      <p class="mt-3">fecha de inicio: <span class="fw-bold"><%= @rent.start_date %></span> fecha de entrega: <span class="fw-bold"><%= @rent.end_date %></span></p>
                      <p class="bt-3">cantidad de dias: <span class="fw-bold"><%= (@rent.end_date - @rent.start_date).to_i %></span></p>
                      <p class="mt-3">precio total: <span class="fw-bold"><%= @rent.price %></span></p>

          <div class="row g-0">
            <div class="col-md-8">

              <h3 class="fw-bold">Datos del Dueño</h3>
                <p class="mb-2">Nombre del dueño: <span class="fw-bold"><%= @rent.vehicle.user.first_name %> <%= @rent.vehicle.user.last_name %></span></p>
                <p class="mb-2">Correo: <span class="fw-bold"><%= @rent.vehicle.user.email %></span></p>
                <p class="mb-2">Telefono: <span class="fw-bold"><%= @rent.vehicle.user.phone_number %></span></p>
            </div>
          </div>
        </div>
                <div class=" position-absolute bottom-0 w-100">
        <%= link_to "Volver Lista de Rentas", rents_path, class: "btn btn-primary fw-bold w-100" %>
        </div>
      </div>
    </div>
  </div>
