<%= link_to vehicle_path(vehicle), class: "text-decoration-none text-black" do%>
  <div class="mb-3 p-2 shadow card-vehicle">
    <% if vehicle.photos.attached? %>
      <%= cl_image_tag vehicle.photos[0].key, class: "w-100 object-fit-cover", height:150 %>
    <% else %>
      <div class="position-relative image-placeholder w-100">
        <p class="text-secondary fst-italic position-absolute top-50 start-50 translate-middle text-center">No pictures available</p>
      </div>
    <% end %>
    <div class="">
      <h3 class="fs-5 fw-bold text-truncate"><%= vehicle.make %> <%= vehicle.model %> <%= vehicle.year %></h3>
      <p class="p-0 m-0"><span class="text-secondary">Vehicle type:</span> <span class="fw-light"><%= vehicle.vehicle_type.capitalize %></span></p>
      <p class="text-secondary p-0 m-0">Price-per-day: <span class="text-black">$<%= vehicle.price %></span></p>
      <p><i class="fa-solid fa-user user-icon"></i> <%= vehicle.user.nickname %></p>
    </div>
  </div>
<% end %>
