<div class="container">
  <div class="row mt-3 d-flex align-items-start" data-controller = "gallery">
    <div class="col-6 row d-flex align-items-start" data-gallery-target = "gallery">
      <h3 class="text-center"> Imagenes actuales </h3>
      <p class="text-secondary text-center p-0 m-0"><small>Puedes eliminar imagenes haciendo click sobre ellas <br>(Las imagenes que elimines no pueden recuperarse)</small></p>
      <hr>
      <% @vehicle.photos.each do |photo| %>
        <div class="col-4 uploaded-image my-3">
          <%= cl_image_tag photo.key, class: "uploaded-image object-fit-cover w-100", data: { action: "click->gallery#deletePicture", signedId: "#{photo.signed_id}" }%>
        </div>
      <% end %>
    </div>
    <div class="shadow p-4 rounded-4 col-6">
      <%= simple_form_for @vehicle, defaults: { input_html: { class: 'form-input-dark' }, hint_html: { class: 'text-white' } }, data: {controller: "char-counter"} do |f| %>
        <%= f.input :price, hint: "Por favor inserta un precio $1 y $10,000", label: "Precio"%>
        <%= f.input :description, as: :text, label: "Descripción", input_html: {
          data: {action: "char-counter#count", "char-counter-target"=>"text"}
        } %>
        <small><p data-char-counter-target = "charCount"></p></small>
        <%= f.input :vehicle_type, as: :radio_buttons, collection: [["Coupe", "coupe"], ["Sedan", "sedan"], ["SUV", "suv"], ["Motorbike", "motorbike"], ["RV", "rv"], ["Van", "van"], ["Bus", "bus"]], hint: "Escoge el tipo de vehículo", label: "Tipo de vehículo" %>
        <%= f.input :photos, as: :file, input_html: { multiple: true, "data-gallery-target" => "fileInput" }, direct_upload: true, label: "Agregar fotos"  %>
        <% @vehicle.photos.each do |photo| %>
          <%= f.hidden_field :photos, multiple: true, value: photo.signed_id %>
        <% end %>
        <%= f.submit value: "Editar vehículo", class: "btn banner-button w-100"%>
      <% end %>
    </div>
  </div>
</div>
