<div class="w-50 m-auto mt-3 mb-5 shadow p-4 rounded-4">
  <%= simple_form_for @vehicle, defaults: { input_html: { class: 'form-input-dark' }, hint_html: { class: 'text-white' } }, data: {controller: "char-counter"} do |f| %>
    <%= f.input :price, hint: "Por favor inserta un precio $1 y $10,000", label: "Precio"%>
    <%= f.input :description, as: :text, label: "Descripción", input_html: {
      data: {action: "char-counter#count", "char-counter-target"=>"text"}
    }, hint: "minimo 50 caracteres y maximo 120 caracteres" %>
    <small><p data-char-counter-target = "charCount"></p></small>
    <%= f.input :vehicle_type, as: :radio_buttons, collection: [["Coupe", "coupe"], ["Sedan", "sedan"], ["SUV", "suv"], ["Motorbike", "motorbike"], ["RV", "rv"], ["Van", "van"], ["Bus", "bus"]], hint: "Escoge el tipo de vehículo", label: "Tipo de vehículo" %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, required: false  %>
    <%= f.hidden_field :photos, value: @vehicle.photos if @vehicle.photos.attached? %>
    <%= f.submit value: "Editar vehículo", class: "btn banner-button w-100"%>
  <% end %>
</div>
