<div class="container mt-3 mb-5">
  <div class="row">
    <div class="col-3">
      <h3>Filter</h3>
    </div>
    <div class="row col-9 d-flex">
      <% @vehicles.each do |vehicle| %>
        <div class="col-4">
          <%= link_to vehicle_path(vehicle), class: "text-decoration-none text-black" do%>
            <div class="mb-3 p-2 shadow card-vehicle">
              <%= image_tag "https://th.bing.com/th/id/OIP.FxJBZ-aCHvFKtvK1IqbH8wHaEU?rs=1&pid=ImgDetMain", height:150, class: "w-100 object-fit-cover" %>
              <div class="">
                <h3 class="fs-5 fw-bold text-truncate"><%= vehicle.make %> <%= vehicle.model %> <%= vehicle.year %></h3>
                <p class="p-0 m-0"><span class="text-secondary">Vehicle type:</span> <span class="fw-light"><%= vehicle.vehicle_type.capitalize %></span></p>
                <p class="text-secondary p-0 m-0">Price-per-day: <span class="text-black">$<%= vehicle.price %></span></p>
                <p><i class="fa-solid fa-user user-icon"></i> <%= vehicle.user.nickname %></p>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
