<div class="w-50 m-auto mt-3 mb-5 shadow p-4 rounded-4">
  <%= simple_form_for @vehicle, defaults: { input_html: { class: 'form-input-dark' }, hint_html: { class: 'text-white' } }, data: {controller: "char-counter"} do |f| %>
    <%= f.input :make, label: "Marca" %>
    <%= f.input :model, label: "Modelo" %>
    <%= f.input :year, label: "Año" %>
    <%= f.input :price, label: "Precio" %>
    <%= f.input :seats, label: "Asientos" %>
    <%= f.input :description, as: :text, label: "Descripción", input_html: {
      data: {action: "char-counter#count", "char-counter-target"=>"text"}
    }, hint: "minimo 50 caracteres y maximo 120 caracteres" %>
    <small><p data-char-counter-target = "charCount"></p></small>
    <%= f.input :vehicle_type,
      as: :radio_buttons,
      label: "Tipo de vehículo",
      collection: [["Coupe", "coupe"], ["Sedan", "sedan"], ["Suv", "suv"], ["Motorbike", "motorbike"], ["Rv", "rv"], ["Van", "van"], ["Bus", "bus"]] %>
    <%= f.input :photos, as: :file, input_html: { multiple: true }, label: "Fotos" %>
    <%= f.submit value: "Publicar vehículo", class: "banner-button w-100 text-center"%>
  <% end %>
</div>
