<div class="container mt-5">
  <h1 class="mb-4">Mis rentas</h1>

  <div class="row">
    <% @rents.each do |rent| %>
      <div class="col-4">
        <%= link_to rent_path(rent), class: "text-decoration-none" do %>
          <div class="mb-3 p-2 card-vehicle">
            <% if rent.vehicle.photos.attached? %>
              <%= cl_image_tag rent.vehicle.photos[0].key, class: "w-100 object-fit-cover", height:150 %>
            <% else %>
              <div class="position-relative image-placeholder w-100">
                <p class="text-secondary fst-italic position-absolute top-50 start-50 translate-middle text-center">No pictures available</p>
              </div>
            <% end %>
            <div class="px-3 pt-3">
              <h3 class="fs-5 fw-bold text-truncate"><%= rent.vehicle.make %> <%= rent.vehicle.model %> <%= rent.vehicle.year %></h3>
              <p class="p-0 m-0"><span class="text-secondary">Tipo de vehículo:</span> <span class="fw-light"><%= rent.vehicle.vehicle_type.capitalize %></span></p>
              <p class="text-secondary p-0 m-0">Precio por día: <span class="text-white">$<%= rent.vehicle.price %></span></p>
              <p><i class="fa-solid fa-user user-icon"></i> <%= rent.user.nickname %></p>
            </div>
          </div>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
