<div class="container my-5">
  <div class="row shadow bg-3">
    <div class="col">
      <div id="vehicle_carousel" class="carousel slide d-flex align-items center">
        <div class="carousel-inner d-flex align-items-center">
          <% if @vehicle.photos.attached? %>
            <% @vehicle.photos.each_with_index do |photo, index| %>
              <div class="carousel-item <%= index == 0 ? "active" : "" %>">
                <%= cl_image_tag photo.key, class: "d-block w-100" %>
              </div>
            <% end %>
          <% else %>
            <p class="text-secondary fst-italic position-absolute top-50 start-50 translate-middle text-center fs-3">No pictures available</p>
          <% end %>
        </div>
        <% if @vehicle.photos.attached? && @vehicle.photos.size > 1  %>
          <button class="carousel-button-prev position-absolute start-0 h-100 bg-transparent border-0" type="button" data-bs-target="#vehicle_carousel" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
          </button>
          <button class="carousel-button-next position-absolute end-0 h-100 bg-transparent border-0" type="button" data-bs-target="#vehicle_carousel" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
          </button>
        <% end %>
      </div>
    </div>

    <div class="col position-relative" data-controller="delete-alert">
      <div class="p-3 position-relative h-100">
        <h3 class="fw-bold"><%= @vehicle.make %> <%= @vehicle.model %> <%= @vehicle.year %></h3>
        <p class="m-0 p-0 fs-5"><span class="fw-bold">$<%= @vehicle.price %></span> per day</p>
        <h4 class="mt-3">Vehicle description</h4>
        <p><%= @vehicle.description %></p>
        <p class="m-0 p-0"><span class="text-secondary">Seats:</span> <%= @vehicle.seats %></p>
        <p class="m-0 p-0"><span class="text-secondary">Owner:</span> <%= @vehicle.user.first_name %> <%= @vehicle.user.last_name %> (<span class="fw-bold"><%= @vehicle.user.nickname %></span>)</p>

        <% if current_user == @vehicle.user %>
          <%= link_to "", edit_vehicle_path(@vehicle), class: "p-2 text-decoration-none fa-solid fa-pencil text-warning" %>
          <i class="text-decoration-none text-danger fa-solid fa-trash" data-action="click->delete-alert#confirm"></i>
          <%= link_to "", vehicle_path(@vehicle), class: "d-none", data: { turbo_method: :delete, "delete-alert-target"=>"delete" } %>
          <div class="position-absolute bottom-0 w-100 pe-4 pb-3">
            <%= link_to "View rents", vehicle_rents_path(@vehicle), class: "banner-button w-100 text-center" %>
          </div>
        <% else %>
          <div class=" position-absolute bottom-0 w-100 pe-4 pb-3">
            <p class="text-secondary fst-italic disclaimer m-0 p-0">Contact information will be provided after the owner accepts the rent.</p>
            <%= link_to "Rentar ahora", new_vehicle_rent_path(@vehicle), class: "banner-button w-100 text-center" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>


</div>
